/**
 * Base Module
 */
html {
  color: #333;
  background: #eee;
  text-align: center;
}

.site-article {
  width: 800px;
  margin: 50px auto;
  text-align: left;

  section h1 {
    margin: 3em 0 0;
    padding: 1em 0 0;
    font-weight: bold;
    border-top: 1px dashed #666;
    color: #454545;
  }

  section section h1 {
    margin: 2em 0 0;
    font-weight: bold;
    color: #454545;
  }
}

.site-header {
  .site-heading {
    font-family: 'Georgia', serif;
    font-size: $yui-32px;
    color: #454545;
  }
}

.site-nav {

  h1 {
    margin: 3em 0 0;
    padding: 1em 0 0;
    font-weight: bold;
    border-top: 1px dashed #666;
    color: #454545;
  }

  ul {
    margin: 1em 0 0;
  }
}

p {
  margin: 1em 0 0;
}

dl {
  margin: 1.5em 0 0;
}

dt {
  margin: 1em 0 0;
}

ol {
  padding: 0.5em 0 0;
}

ol li {
  margin: 0.5em 0 0 1em;
  list-style: decimal inside;
}

.code {
  display: block;
  margin: 1em 0 0;
  padding: 1em;
  color: #eee;
  background: #333;
}
